.container{
    width: 1024px;
    margin: 0 auto;

}
.logo header {
    display: flex;
    justify-content: space-between;
}

.logo img {
    position: relative;
    margin-left: 145px;
    margin-top:-34px;
    top:34px;
    z-index: 10;
}

.logo nav {
   margin-right: 177px;
   margin-top: 20px;
}

.logo nav ul {
    width: 300px;;
    display: flex;
    justify-content: space-between;
}

.promo {
    position: relative;
}

.promo-nadpis{
    position: absolute;
    top: 170px;
    right: 30px;
    width: 450px;
    text-align: center;
    line-height: 2.5rem;
    z-index: 5;
    
} 
.promo-nadpis h1 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.promo-nadpis a {
    display: inline-block;
    width: 208px;
    padding: 13px 0;
    background-color: #6c0733;
    box-shadow: rgba(0, 0, 0, .25) 4px 5px 2px 0;
    font-size: 20px;
    color: #fefefe;
}

.recipes {
    display: flex;
    padding: 20px;
}

main {
    flex-grow: 2;
}

aside {
    flex-grow: 1;
}

main h1,
aside h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #6c0733;
}