.container{
    width: 1024px;
    margin: 0 auto;

}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 145px
}

nav {
   margin-right: 177px;
   margin-top: 20px;
}

nav ul {
    width: 300px;;
    display: flex;
    justify-content: space-between;
}

.promo img {
    position: relative;
    top: -45px;
    z-index: -10;
}
